asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
Django==4.2.20
django-bootstrap-v5==1.0.11
django-bootstrap5==25.1
fontawesomefree==6.6.0
gunicorn==23.0.0
packaging==24.2
python-dotenv==1.1.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.13.0
