{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Administrator</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link rel ="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <!-- Fonts and icons -->
    <script src="{% static 'assets/js/plugin/webfont/webfont.min.js' %}"></script>
    <script>
      WebFont.load({
        google: { families: ["Nunito"] },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/kaiadmin.min.css' %}"/>

    <style>
      body {
          font-family:"Nunito", sans-serif;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="blue">
            <a href="#" class="logo">
              <img
                src="{% static 'images\logo_light.png' %}"
                alt="navbar brand"
                class="navbar-brand"
                height="30"
              />
            </a>

        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>

          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>

        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>

      </div>
      <!-- End Logo Header -->
    </div>

        <!-- Sidebar Menu -->
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item">
                <a href="{% url 'professors_dashboard' %}">
                  <i class="fas fa-home"></i>
                  <p>Dashboard</p>
                </a>
              </li>

              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#students">
                    <i class="fa-solid fa-user fa-lg"></i>
                  <p>Students</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="students">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="{% url 'admin_students' %}">
                        <span class="sub-item">Manage Students</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'admin_students_create' %}">
                        <span class="sub-item">Create Students</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#professors">
                    <i class="fa-solid fa-user-graduate fa-lg"></i>
                  <p>Professors</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="professors">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="">
                        <span class="sub-item">Manage Professors</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="sub-item">Create Professors</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#courses">
                  <i class="fas fa-pen-square"></i>
                  <p>Courses</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="courses">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="">
                        <span class="sub-item">Manage Courses</span>
                      </a>
                    </li>
                    <li>
                        <a href="">
                          <span class="sub-item">Create Courses</span>
                        </a>
                      </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="main-header">
          
          <div class="main-header-logo">
            <!-- Logo Header, when zoom in-->
            <div class="logo-header" data-background-color="blue"></div>
            <!-- End Logo Header -->
          </div>

          <!-- Navbar Header -->          
          <nav
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
          >
            <div class="container-fluid">
              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">                                                
                <!-- user profile --> 
                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a
                    class="dropdown-toggle profile-pic"
                    href="#"
                    role="button"
                    id="#user_profile"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"                    
                  >
                    <div class="avatar-sm">
                      <img
                        id="professorAvatar1"
                        src="{% if professor.avatar %}{{ professor.avatar.url }}{% else %}{% static 'images/profile2.jpg' %}{% endif %}"
                        alt="Avatar"
                        class="avatar-img rounded-circle"
                        onerror="fallbackAvatar(this)"
                      />
                    </div>

                    <span class="profile-username">
                      <span class="op-7">Hi,</span>
                      <span class="fw-bold">{{ professor.first_name }}</span>
                    </span>
                  </a>
                  <!-- user profile dropdown--> 
                  <ul class="dropdown-menu dropdown-user animated fadeIn" aria-labelledby="#user_profile">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box">
                          <div class="avatar-lg">
                            <img
                              id="professorAvatar2"
                              src="{% if professor.avatar %}{{ professor.avatar.url }}{% else %}{% static 'images/profile2.jpg' %}{% endif %}"
                              alt="Avatar"
                              class="avatar-img rounded"
                              onerror="fallbackAvatar(this)"
                            />
                          </div>
                          <div class="u-text">
                            <h4>{{ professor.first_name }}</h4>
                            <p class="text-muted">{{ professor.email }}</p>
                          </div>
                        </div>
                      </li>

                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#my_profile">My Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#logout">Logout</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>

        <!-- User Profile Modal -->
        <div class="modal" id="my_profile" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title">My Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>

              <div class="modal-body text-center">

                <img
                id="professorAvatar"
                src="{% if professor.avatar %}{{ professor.avatar.url }}{% else %}{% static 'images/profile2.jpg' %}{% endif %}"
                alt="Avatar"
                class="rounded-circle mb-3"
                style="width: 100px; height: 100px; object-fit: cover;"
                onerror="fallbackAvatar(this)"
                />
      
                <!-- Upload button -->
                <div class="mb-3">
                  <label class="btn btn-primary text-white">
                    Change Avatar
                    <input type="file" id="avatarInput" hidden accept="image/*">
                  </label>
                </div>

                <p><strong>Full Name:</strong> 
                {{ professor.first_name }} {{ professor.middle_name }} {{ professor.last_name }}
                </p>
              
                <p><strong>Email:</strong> 
                {{ professor.email }}
                </p>
              
                <p><strong>Username:</strong> 
                {{ professor.username }}
                </p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>

            </div>
          </div>
        </div>

        <!-- Logout Modal -->
        <div class="modal" id="logout" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title">Log out?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>

              <div class="modal-body">
                <p>Are you sure you want to log out?</p>
              </div>

              <div class="modal-footer">
                <a href="{% url 'professors_logout' %}" class="btn btn-warning">Yes</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              </div>

            </div>
          </div>
        </div>

        <!-- content here -->
        {% block body %}
        {% endblock %}   
        <!-- Content End -->

        <footer class="footer">
          <div class="container-fluid d-flex justify-content-center">
            <div class="copyright">
                Copyright &copy; <script>document.write(new Date().getFullYear())</script> by
              <a href="">Beaver Guild</a>
            </div>
          </div>
        </footer>

      </div>

      
    </div>

    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/core/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>

    <!-- jQuery Scrollbar -->
    <script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

    <!-- Datatables -->
    <script src="{% static 'assets/js/plugin/datatables/datatables.min.js' %}"></script>

    <!-- Bootstrap Notify -->
    <script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

    <!-- Kaiadmin JS -->
    <script src="{% static 'assets/js/kaiadmin.min.js' %}"></script>

    <script>
      document.getElementById('avatarInput').addEventListener('change', function () {
        const file = this.files[0];
        if (!file) return;
    
        const formData = new FormData();
        formData.append('avatar', file);
    
        fetch("{% url 'professors_update_avatar' %}", {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            const newUrl = data.avatar_url + '?t=' + new Date().getTime();
            document.getElementById('professorAvatar').src = newUrl;
            const navbarAvatars = document.querySelectorAll('.avatar-img');
            navbarAvatars.forEach(img => {
              img.src = newUrl;
            });
          } else {
            alert('Failed to update avatar.');
          }
        })
        .catch(error => {
          console.error('Upload error:', error);
        });
      });

      function fallbackAvatar(img) {
        img.onerror = null;
        img.src = "{% static 'images/profile2.jpg' %}";
      }

    </script>
  </body>
</html>
